<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CAWL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>cawlDemoMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>cawlTester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91062DBF1DE397AD00BCBDA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>912977A61DE4F0E70093134D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91CAEC7B1DC8584600CEF065</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91CAEC8D1DC8587900CEF065</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
